* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

:root{
    --blue-color: #00678d;
}

.title{
    background: var(--blue-color);
    height: 12rem;
    width: 100rem;
    box-shadow: 0px 8px 28px rgba(34,111,183,0.5);
    font-size: 1.1rem;
    font-family: Arial;
    color: white;
}

.title1{
    padding-left: 4rem;
    padding-top: 4rem;
}

.title2{
    padding-left: 8rem;
    padding-top: 1rem;
}